@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.menu-contents > a {
  display: block;
  /* padding: 5px; */
}
.menu-contents {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* float: right; */
  /* text-align: end; */
  /* right: 0; */
  /* margin-right: 0; */
  /* margin-left: 90px;
  margin-top: 0px; */
  /* top: 30px; */
}

.centering {
  margin: auto;
  max-width: 800px;
  overflow: hidden;
}

.sort-menu {
  /* position: relative; */
  /* float: right; */
  /* text-align: end; */
  /* margin-right: 0px; */
  max-width: 200px;
  overflow: hidden;
}

.sort-menu:hover .menu-contents {
  display: block;
}
.all-rants {
  margin: 0px auto;
  max-width: 800px;
}


/* ----------------------------------
            Header
---------------------------------- */
.nav-links > a {
  display: inline-block;
  padding: 5px;
  margin-top: 5%;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.nav-links > a:hover {
  background-color: gray;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
}

.header-title {
  font-family: 'Bungee Outline', cursive;
  color: white;
  display: flex;
  align-self: flex-start;
  padding-left: 10px;
  /* background-color: black; */
}

.header-nav {
  display: flex;
  align-content: center;
  /* padding-left: 50%; */
}