@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}

.menu-contents > a {
  display: block;
  /* padding: 5px; */
}
.menu-contents {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* float: right; */
  /* text-align: end; */
  /* right: 0; */
  /* margin-right: 0; */
  /* margin-left: 90px;
  margin-top: 0px; */
  /* top: 30px; */
}

.centering {
  margin: auto;
  max-width: 800px;
  overflow: hidden;
}

.sort-menu {
  /* position: relative; */
  /* float: right; */
  /* text-align: end; */
  /* margin-right: 0px; */
  max-width: 200px;
  overflow: hidden;
}

.sort-menu:hover .menu-contents {
  display: block;
}
.all-rants {
  margin: 0px auto;
  max-width: 800px;
}

.sort-hover {
  color: white;
}


/* ----------------------------------
            Header
---------------------------------- */
.nav-links > a {
  display: inline-block;
  padding: 5px;
  margin-top: 3%;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-links > a:hover {
  background-color: gray;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
}

.header-title {
  font-family: 'Bungee Outline', cursive;
  color: white;
  display: flex;
  align-self: flex-start;
  padding-left: 10px;
  /* background-color: black; */
}

.header-title > a {
  text-decoration: none;
  color: white;
}

.header-nav {
  display: flex;
  align-content: center;
  /* padding-left: 50%; */
}


body {
  background-color: #222222;
}


/* -------------------------------
            Rants
------------------------------- */
.rant {
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.all-rants > a {
  text-decoration: none;
}

.rant > p, .rant > h1 {
  text-decoration: none;
  color: black;
}
.posted-by {
  color: rgba(0,0,0,0.7);
}
.user {
  font-weight: 600;
  color: rgba(0,0,0,1)
}
.rant:hover {
  border: 3px solid black;
}

/* show page */
.show-main {
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding: 20px;
}

/* .show-buttons {
  display: inline;
} */

#comment-button {
  margin-top: 10px;
}

.update-delete {
  font-weight: 600;
}
.update-delete > a {
  text-decoration: none;
  color: black;
}
#delete-text:hover {
  cursor: pointer;
}

.update-delete-p {
  border: 1px dashed black;
  max-width: 400px;
  padding: 10px;
}
